.topPadding {
    padding-top:15px;
}

.bottomPadding {
     padding-bottom:15px;
}

.topMargin {
    margin-top: 15px;
}

.bottomMargin {
    margin-bottom: 15px;
}

.doc-title {
    font-weight: bolder;
}

.showInfo {
    display: block;
}

.closeInfo {
    display: none;
}

.stationDetailInfo {
    display: none;
    padding-top:10px;
}

.bg-gray {
    background-color:#EEEEEE;
}


.bg-mistyrose {
    background-color: #ffe4e1;
}

.bg-pink {
    background-color: #ffc0cb;
}

.bg-lightpink {
    background-color: #ffb6c1;
}

.bg-hotpink {
    background-color: #ff69b4;
}

.bg-green-depth1 {
    background-color: #ccffee;
}
.bg-green-depth2 {
    background-color: #ccffcc;
}
.bg-green-depth3 {
    background-color: #ccff99;
}
.bg-green-depth4 {
    background-color: #ccff66;
}
.bg-green-depth5 {
    background-color: #ccff33;
}
.bg-green-depth5 {
    background-color: #ccff00;
}

.font-light-gray {
    color: #999999;
}

.font-gray {
    color: #999999;
}

.font-smaller {
    font-size: smaller;
}

.contentAlignRight {
    width: 100%;
    text-align: right;
}

.starIcon {
    width: 20px;
    height: 20px;
    background-image: url("/img/star.png");
}

.icon-size-small {
    width:17px;
}

.icon-no-check {
    filter: opacity(.1) /*drop-shadow(0 0 0 gray); */
}

.icon-check {
    filter: opacity(.4) /*drop-shadow(0 0 0 yellow);*/
}

.remainSeatCntZeroY {
    font-weight: bold;
}

.remainSeatCntZero {
    font-weight: bold;
    color: #708090;
}